*.dSYM
*.o-lobjc
a.out
build
*.o
main
*.db
TAGS
src/3rdparty/raylib/fractional-scale-v1-client-protocol-code.h
src/3rdparty/raylib/fractional-scale-v1-client-protocol.h
src/3rdparty/raylib/idle-inhibit-unstable-v1-client-protocol-code.h
src/3rdparty/raylib/idle-inhibit-unstable-v1-client-protocol.h
src/3rdparty/raylib/pointer-constraints-unstable-v1-client-protocol-code.h
src/3rdparty/raylib/pointer-constraints-unstable-v1-client-protocol.h
src/3rdparty/raylib/relative-pointer-unstable-v1-client-protocol-code.h
src/3rdparty/raylib/relative-pointer-unstable-v1-client-protocol.h
src/3rdparty/raylib/viewporter-client-protocol-code.h
src/3rdparty/raylib/viewporter-client-protocol.h
src/3rdparty/raylib/wayland-client-protocol-code.h
src/3rdparty/raylib/wayland-client-protocol.h
src/3rdparty/raylib/xdg-activation-v1-client-protocol-code.h
src/3rdparty/raylib/xdg-activation-v1-client-protocol.h
src/3rdparty/raylib/xdg-decoration-unstable-v1-client-protocol-code.h
src/3rdparty/raylib/xdg-decoration-unstable-v1-client-protocol.h
src/3rdparty/raylib/xdg-shell-client-protocol-code.h
src/3rdparty/raylib/xdg-shell-client-protocol.h
src/.build/*
src/build/*